<!DOCTYPE html>
<html>
    <head>
        <title>PlantCare Blog</title>
    </head>

    <body>
        <h1>PlantCare Blog</h1>

        <ul>
            {% for blog in posts %}
            <li>
                <a href="{% url 'blog:blog_detail' blog.id %}">  
                    {{ blog.title }} - {{ blog.signature }}
                    <br>
                    {{ blog.date }}
                </a>    
            </li>
            {% endfor %}
        </ul>
        <h2><a href="{% url 'home' %}" class="btn btn-secondary">Return to Home Page</a></h2>
        
    </body>
</html>